<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
    <form id="index" action="/shoppers" method="POST">
</head>
<body>
<thead>
    <th><h1>Items</h1></th>
</thead>
<table>
    <tr>
        <th>Item Color</th>
        <th>Item</th>
        <th>Reviews</th>
        <th>Write a Review</th>
        <th>Delete</th>
    </tr>
    <% items.forEach(function(item) { %> 
        <tr>
            <td><%= item.color %></td>
            <td><%= item.clothing %></td>
            <td><% item.reviews.forEach(function(review) { %> 
                    <%= review.content %> 
                    <%= review.rating %>
            <% }); %>
            </td>
            <td><a href="/items/<%= item._id %>/reviews/new">Write A Review</a></td>
            <td>
                <form action="/shoppers/items/<%= item._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form></td>
               <td><a href="/reviews/<%= reviewId %>/edit">Edit Review
                    "<%= review.text%>"
                </a>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
  
  <p><a href="/shoppers/<%= shoppers._id%>/items/new">Shop Another Item</a></p>
    <p><a href="/">Back</a></p>

</body>
</html>





